<% layout("./layouts/boilerplate.ejs") %>


  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h2>Edit Listing.</h2>
      <br />
      <form action="/listings/<%= listing._id  %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label" for="title">Title:</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="listing[title]"
            value="<%= listing.title %>"
            required
          />
          <div class="valid-feedback">
           Title Looks good!
          </div>
        </div>

        
        <div class="mb-3">
          <label class="form-label" for="image">Update Image:</label><br>
          <div class="mb-3">
            <img src="<%= ogImageUrl %> " class="edit-image">
          </div>
          <input
            class="form-control"
            type="file"
            id="image"
            name="listing[image]"
          />
          <div class="valid-feedback">
        Beautiful Place!
      </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Description:</label>
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="listing[description]"
            required
          ><%= listing.description  %></textarea>
          <div class="invalid-feedback">
        Please enter a short description.
      </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Price:</label>
            <input
              class="form-control"
              type="number"
              id="price"
              name="listing[price]"
              value="<%= listing.price %>"
              required
            />
            <div class="invalid-feedback">
        Please set a price.
      </div>
          </div>

          <div class="mb-3 col-md-8">
            <label class="form-label" for="country">Country:</label>
            <input
              class="form-control"
              type="text"
              id="country"
              name="listing[country]"
              value="<%= listing.country %>"
              required
            />
            <div class="invalid-feedback">
        Please enter a Country name.
      </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="location">Location:</label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="listing[location]"
            value="<%= listing.location %>"
            required
          />
          <div class="invalid-feedback">
        Please enter a Location.
      </div>
        </div>


        <div class="mb-3">
          <label class="form-label" for="category">Category:</label>
          <select class="form-select" id="category" name="listing[category]" required>
            <option value="" disabled>Select a category</option>
            <option value="rooms" <%= listing.category === 'rooms' ? 'selected' : '' %>>Rooms</option>
            <option value="lakes" <%= listing.category === 'lakes' ? 'selected' : '' %>>Lakesfront</option>
            <option value="arctic" <%= listing.category === 'artic' ? 'selected' : '' %>>Arctic</option>
            <option value="pools" <%= listing.category === 'pools' ? 'selected' : '' %>>Pools</option>
            <option value="farm" <%= listing.category === 'farm' ? 'selected' : '' %>>Farm</option>

            <option value="castles" <%= listing.category === 'castles' ? 'selected' : '' %>>Castles</option>
            <option value="beach" <%= listing.category === 'beach' ? 'selected' : '' %>>Beachfront</option>
          </select>
          <div class="invalid-feedback">Please select a category.</div>
        </div>

        <button type="submit" class="btn btn-dark">Confirm</button>

      </form>
    </div>
  </div>
  <br />
  <br />

