<% layout("./layouts/boilerplate.ejs") %>

<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  
  const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;

</script>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <br />
    <h3 class="card-title"><%= listing.title %></h3>
    <p><i>Owned by: <%= listing.owner.username %></i></p>

    <img
      src="<%= listing.image.url  %>"
      class="card-img-top show-img"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text location">
        <%= listing.location %>, <%= listing.country %>
      </p>
      <p class="card-text">
        <b>&#8377;<%= listing.price.toLocaleString("en-in") %></b>, night
      </p>
      <p class="card-text"><%= listing.description %></p>
    </div>

    <% if(currUser && currUser._id.equals(listing.owner._id)) {%>
    <div class="btns">
      <a href="/listings/<%= listing.id  %>/edit" class="btn btn-primary"
        >Edit</a
      >

      <form action="/listings/<%= listing.id  %>?_method=DELETE" method="POST">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
    <% } %> <% if(currUser) {%>
    <hr />

    <div class="review mt-3 mb-3">
      <h4>Leave a Review</h4>

      <form
        action="/listings/<%= listing.id   %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-0">
          <label for="rating" class="form-label">Rating:</label>
          <fieldset class="starability-growRotate">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div class="mb-3">
          <label for="comment" class="form-label">Comment:</label>
          <textarea
            class="form-control"
            name="review[comment]"
            id="comment"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please leave some comments for review.
          </div>
        </div>

        <button class="btn btn-outline-dark mb-3" type="submit">Submit</button>
      </form>
      <% } %> <% if(listing.reviews.length > 0) {%>
      <hr />
      <h5>Reviews:</h5>
      <br />
      <div class="row">
        <% for(review of listing.reviews) {%>
        <div class="card col-5 ms-2 mb-2">
          <div class="card-body">
            <h6 class="card-title">@<%= review.author.username %></h6>
            <p
              class="starability-result card-text"
              data-rating="<%= review.rating %>"
            ></p>
            <p class="card-text"><%= review.comment %></p>
            <form
              class="mb-3"
              method="POST"
              action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            >
              <% if(currUser && currUser._id.equals(review.author._id)) {%>
              <button class="btn btn-sm btn-danger">Delete</button>
              <% } %>
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
      <br />
      <hr />
      <br />
      <h3>Where you'll be</h3>
      <div id="map"></div>
    </div>
  </div>
  <br />
  <br />
  <br />
</div>

